In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_itin_df = pd.read_csv("weather_data/weatherPy_vacation.csv")
vacation_itin_df.head()

,City_ID,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
0,0,Vila Velha,BR,82.00,broken clouds,-20.33,-40.29,Hotel Vitória Palace
1,1,Hithadhoo,MV,84.81,scattered clouds,-0.60,73.08,Scoop Guest House
2,4,Mahebourg,MU,77.00,scattered clouds,-20.41,57.70,Shandrani Beachcomber Resort & Spa
3,10,Doume,CM,75.60,light rain,4.23,13.45,Hotel Universel
4,11,Narwar,IN,88.92,clear sky,25.65,77.90,हनुमान मन्दिर

In [45]:
#Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.
latin_america_df = vacation_itin_df.loc[(vacation_itin_df["City"]=="Pisco") |
                                        (vacation_itin_df["City"]=="Jaru") |
                                       (vacation_itin_df["City"]=="Totness") |
                                       (vacation_itin_df["City"]=="Aracaju")]
pisco_df = latin_america_df.loc[latin_america_df["City"]=="Pisco"]
Jaru_df = latin_america_df.loc[latin_america_df["City"]=="Jaru"]
Totness_df = latin_america_df.loc[latin_america_df["City"]=="Totness"]
Aracaju_df = latin_america_df.loc[latin_america_df["City"]=="Aracaju"]
latin_america_df

,City_ID,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
65,206,Totness,SR,84.51,few clouds,5.88,-56.32,STAATS LOGEERGEBOUW TOTNESS
68,210,Pisco,PE,77.00,broken clouds,-13.70,-76.22,Hostal San Isidro Oficial
110,312,Jaru,BR,81.46,overcast clouds,-10.44,-62.47,Hotel Paraná
125,344,Aracaju,BR,86.00,scattered clouds,-10.91,-37.07,HOTEL FÊNIX

In [62]:
# get latitude and longitude for Pisco
pisco_lat = Jaru_df["Lat"]
pisco_lng = pisco_df["Lng"]
pisco_lat_lng = zip(pisco_lat, pisco_lng)
pisco_coordinates = list(pisco_lat_lng)

# get latitude and longitude for Jaru
Jaru_lat = Jaru_df["Lat"]
Jaru_lng = Jaru_df["Lng"]
Jaru_lat_lng = zip(Jaru_lat, Jaru_lng)
Jaru_coordinates = list(Jaru_lat_lng)

# get latitude and longitude for Totness
Totness_lat = Totness_df["Lat"]
Totness_lng = Totness_df["Lng"]
Totness_lat_lng = zip(Totness_lat, Totness_lng)
Totness_coordinates = list(Totness_lat_lng)

# get latitude and longitude for Aracaju
Aracaju_lat = Aracaju_df["Lat"]
Aracaju_lng = Aracaju_df["Lng"]
Aracaju_lat_lng = zip(Aracaju_lat, Aracaju_lng)
Aracaju_coordinates = list(Aracaju_lat_lng)
Aracaju_coordinates[0]

(-10.91, -37.07)

In [67]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Condition</dt><dd>{Current Condition}</dd>
</dl>
"""

In [71]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in latin_america_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>STAATS LOGEERGEBOUW TOTNESS</dd>\n<dt>City</dt><dd>Totness</dd>\n<dt>Country</dt><dd>SR</dd>\n<dt>Current Condition</dt><dd>few clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hostal San Isidro Oficial</dd>\n<dt>City</dt><dd>Pisco</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Condition</dt><dd>broken clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Paraná</dd>\n<dt>City</dt><dd>Jaru</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Condition</dt><dd>overcast clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL FÊNIX</dd>\n<dt>City</dt><dd>Aracaju</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Condition</dt><dd>scattered clouds</dd>\n</dl>\n']

In [78]:
# Add the cities to a marker layer map with a pop-up marker for each city 

gmaps.configure(api_key=g_key)
locations = latin_america_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30,30), zoom_level=1.5)
route_layer_1 = gmaps.directions_layer(pisco_coordinates[0], Jaru_coordinates[0],
                                      travel_mode='DRIVING')
route_layer_2 = gmaps.directions_layer(Jaru_coordinates[0], Totness_coordinates[0],
                                      travel_mode='DRIVING')
route_layer_3 = gmaps.directions_layer(Totness_coordinates[0], Aracaju_coordinates[0],
                                      travel_mode='DRIVING')
route_layer_4 = gmaps.directions_layer(Aracaju_coordinates[0], pisco_coordinates[0],
                                      travel_mode='DRIVING')
fig.add_layer(route_layer_1)
fig.add_layer(route_layer_2)
fig.add_layer(route_layer_3)
fig.add_layer(route_layer_4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))