In [1]:
import pandas as pd
from config import g_key
import requests
import gmaps
import matplotlib.pyplot as plt

In [2]:
vacation_search_df = pd.read_csv("weather_data/weatherPy_challenge.csv")
vacation_search_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition,Rain inches(last 3 hrs),Snow inches(last 3hrs)
0,0,Vila Velha,BR,-20.33,-40.29,82.00,74,75,14.99,broken clouds,0.0,0.0
1,1,Hithadhoo,MV,-0.60,73.08,84.81,72,36,7.27,scattered clouds,0.0,0.0
2,2,Port Alfred,ZA,-33.59,26.89,64.00,88,28,6.31,scattered clouds,0.0,0.0
3,3,Goderich,CA,43.75,-81.72,45.00,44,100,10.94,overcast clouds,0.0,0.0
4,4,Mahebourg,MU,-20.41,57.70,77.00,69,40,14.99,scattered clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
524,524,Nguru,NG,12.88,10.45,87.91,8,0,10.29,clear sky,0.0,0.0
525,525,Ballina,AU,-28.87,153.57,73.40,94,90,8.05,overcast clouds,0.0,0.0
526,526,Boyuibe,BO,-20.42,-63.28,79.34,26,92,7.76,overcast clouds,0.0,0.0
527,527,Khadzhalmakhi,RU,42.42,47.18,48.20,81,54,13.42,broken clouds,0.0,0.0
528,528,Conde,BR,-7.26,-34.91,87.80,62,75,6.93,broken clouds,0.0,0.0

In [41]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# prompt the customer to choose a  weather condition
rain_condition = input("Do you want it to be raining? (yes/no) ")
snow_condition = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) n
Do you want it to be snowing? (yes/no) n

In [42]:
yes = {"yes","Yes","YES", "Y", "y"}
no = {"no", "No", "NO", "N", "n"}

In [43]:
# creating conidtions for different rain and snow scenarios 
if rain_condition in yes:
    rain_statement = vacation_search_df["Rain inches(last 3 hrs)"] > 0
elif rain_condition in no:
    rain_statement = vacation_search_df["Rain inches(last 3 hrs)"] == 0
else:
    print("Please choose a weather condition.")
     
if snow_condition in yes:
    rain_statement = vacation_search_df["Snow inches(last 3hrs)"] > 0
elif snow_condition in no:
    rain_statement = vacation_search_df["Snow inches(last 3hrs)"] == 0
else:
    print("Please choose a weather condition.")

In [44]:
#Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = vacation_search_df.loc[(vacation_search_df["Max Temp"] <= max_temp) & 
                                             (vacation_search_df["Max Temp"] >= min_temp)&
                                            rain_statement & snow_statement].dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition,Rain inches(last 3 hrs),Snow inches(last 3hrs)
0,0,Vila Velha,BR,-20.33,-40.29,82.00,74,75,14.99,broken clouds,0.00,0.0
1,1,Hithadhoo,MV,-0.60,73.08,84.81,72,36,7.27,scattered clouds,0.00,0.0
4,4,Mahebourg,MU,-20.41,57.70,77.00,69,40,14.99,scattered clouds,0.00,0.0
10,10,Doume,CM,4.23,13.45,75.60,71,94,3.67,light rain,0.75,0.0
11,11,Narwar,IN,25.65,77.90,88.92,14,8,11.39,clear sky,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
518,518,Doka,SD,13.52,35.77,87.15,9,40,10.36,scattered clouds,0.00,0.0
520,520,Farafangana,MG,-22.82,47.83,76.39,71,13,7.45,few clouds,0.00,0.0
524,524,Nguru,NG,12.88,10.45,87.91,8,0,10.29,clear sky,0.00,0.0
526,526,Boyuibe,BO,-20.42,-63.28,79.34,26,92,7.76,overcast clouds,0.00,0.0
528,528,Conde,BR,-7.26,-34.91,87.80,62,75,6.93,broken clouds,0.00,0.0

In [45]:
#make a copy of the dataframe and add the hotel names to it
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Condition", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp Current Condition    Lat    Lng Hotel Name
0     Vila Velha      BR     82.00     broken clouds -20.33 -40.29
1      Hithadhoo      MV     84.81  scattered clouds  -0.60  73.08
4      Mahebourg      MU     77.00  scattered clouds -20.41  57.70
10         Doume      CM     75.60        light rain   4.23  13.45
11        Narwar      IN     88.92         clear sky  25.65  77.90
..           ...     ...       ...               ...    ...    ...        ...
518         Doka      SD     87.15  scattered clouds  13.52  35.77
520  Farafangana      MG     76.39        few clouds -22.82  47.83
524        Nguru      NG     87.91         clear sky  12.88  10.45
526      Boyuibe      BO     79.34   overcast clouds -20.42 -63.28
528        Conde      BR     87.80     broken clouds  -7.26 -34.91

[195 rows x 7 columns]

In [46]:
# defining parameters to find nearby hotels
parameters = {
    "radius" : 5000,
    "type": "lodging",
    "key" : g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    parameters["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=parameters).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Condition</dt><dd>{Current Condition}</dd>
</dl>
"""

In [58]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add the cities to a marker layer map with a pop-up marker for each city 

gmaps.configure(api_key=g_key)
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30,30), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Create the output file (CSV).
output_data_file = "weather_data/weatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
#save the marker layer map
plt.savefig("weather_data/WeatherPy_vacation_map.png")